<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title><%= user.name%></title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Roomoza</title>
  <link rel="stylesheet" href="/css/index.css" />
  <!-- Unicons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <script src="https://kit.fontawesome.com/dc5e06456d.js" crossorigin="anonymous"></script>
  <!-- for alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/dc5e06456d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css" />
  
  <link rel="stylesheet" href="/css/dash.css" />
  <link rel="stylesheet" type="text/css" href="/css/detail.css">

</head>

<body>




  <header class="header relative">
    <nav class="nav">
      <a href="/" class="nav_logo">ROOMOZA</a>

      <ul class="nav_items">
        <li class="nav_item">
          <a href="/" class="nav_link">Home</a>
          <a href="#" class="nav_link">Find PG</a>
          <a href="#" class="nav_link">Services</a>
          <a href="/landing" class="nav_link">About</a>
        </li>
      </ul>

      <div class="mob__bar">
        <div onclick="mob_bar()">
          <i class="fa-solid fa-bars baaar"></i>
        </div>
        <div onclick="close_mob_bar()">
          <i class="fa-solid fa-x close_baaar"></i>
        </div>
      </div>

      <div class="mobile-nav">
        <li class="mob_nav_item">
          <a href="/" class="mob_nav_link active">Home</a>
          <a href="#" class="mob_nav_link">Find PG</a>
          <a href="#" class="mob_nav_link">Services</a>
          <a href="/landing" class="mob_nav_link">About</a>
          
          <% if (user && user.name) { %>
              <a href="dashboard" class="mob_nav_link" id="loginbtn">
                <%= user.name %>
              </a>
              <a href="/logout" class="mob_nav_link red" id="logout">
                Logout
              </a>
            <% } else { %>
              <button class="button mob-button" onclick="signuppage()" id="signupbtn">signup</button>
              <button class="button mob-button" onclick="loginpage()" id="loginbtn">Login</button>
              <% } %>
          </li>
      </div>

    </nav>
  </header>

  <section class="w-full bg-gray-200 items-center justify-center flex">
    <div class="h-full p-4 max-w-6xl relative w-11/12">
      <div class="bg-white rounded-lg shadow-xl pb-8 ">
        <div x-data="{ openSettings: false }" class="absolute right-12 mt-4 rounded">
          <button @click="openSettings = !openSettings"
            class="border border-gray-400 p-2 rounded text-gray-300 hover:text-gray-300 bg-gray-100 bg-opacity-10 hover:bg-opacity-20"
            title="Settings">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z">
              </path>
            </svg>
          </button>
          <div x-show="openSettings" @click.away="openSettings = false"
            class="bg-white absolute right-0 w-40 py-2 mt-1 border border-gray-200 shadow-2xl" style="display: none;">
            <div class="py-2 border-b">
              <p class="text-gray-400 text-xs px-6 uppercase mb-1">Settings</p>
              <button class="w-full flex items-center px-6 py-1.5 space-x-2 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                  </path>
                </svg>
                <span class="text-sm text-gray-700">Share Profile</span>
              </button>

              <button class="w-full flex items-center py-1.5 px-6 space-x-2 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span class="text-sm text-gray-700">More Info</span>
              </button>
            </div>
            <div class="py-2">
              <p class="text-gray-400 text-xs px-6 uppercase mb-1">Feedback</p>
              <button class="w-full flex items-center py-1.5 px-6 space-x-2 hover:bg-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
                  </path>
                </svg>
                <span class="text-sm text-gray-700">Report</span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-full h-[250px]">
          <img src="<%= user.image[0].url %>" class="w-full h-full rounded-tl-lg rounded-tr-lg object-cover">
        </div>
        <div class="flex flex-col items-center -mt-20">
          <img src="<%= user.image[1].url %>" class="w-40 h-40  object-cover border-solid border-4 border-white rounded-full">
          <div class="flex items-center space-x-2 mt-2">
            <p class="text-2xl">
              <%= user.name %>
            </p>
            <span class="bg-blue-500 rounded-full p-1" title="Verified">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7">
                </path>
              </svg>
            </span>
          </div>
          <p class="text-gray-700 font-semibold">
            <%= user.contact %>
          </p>
          <p class="text-sm text-gray-500 font-bold">Near sai mandir</p>
        </div>
        <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
          <div class="flex items-center space-x-4 mt-2">
            <button
              class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
                </path>
              </svg>
              <span>Contact</span>
            </button>

          </div>
        </div>
      </div>

      <div class=" flex h-1/2 flex-wrap">

        <div class="my-4 flex-1   flex-row 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4 sm:w-full">
          <div class=" flex  flex-col ">
            <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
              <div class="flex justify-between">
                <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
                <button id="editProfile" onclick="editProfile()" ><i class="fa-solid fa-pen"></i></button>

              </div>
              <ul class="mt-2 text-gray-700">
                <li class="flex border-y py-2">
                  <span class="font-bold w-24">Full name:</span>
                  <span class="text-gray-700">
                    <%= user.name %>
                  </span>
                </li>

                <li class="flex border-b py-2">
                  <span class="font-bold w-24">Mobile:</span>
                  <span class="text-gray-700 hover:select-all">
                    <%= user.contact %>
                  </span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-24">Email:</span>
                  <span class="text-gray-700">
                    <%= user.email %>
                  </span>
                </li>
                <li class="flex items-center border-b py-2 space-x-2">
                  <span class="font-bold w-24">Room Type</span>
                  <span class="text-gray-700"><%=user.for%></span>
                </li>
                <li class="flex items-center border-b py-2 space-x-2">
                  <span class="font-bold w-24">Room available:</span>
                  <span class="text-gray-700"><%=user.numroom%></span>
                </li>
                <li class="flex items-center border-b py-2 space-x-2">
                  <span class="font-bold w-24">Extra facilities:</span>
                  <span class="text-gray-700"><%=user.highlight%></span>
                </li>
                <li class="flex items-center border-b py-2 space-x-2">
                  <span class="font-bold w-24">Landmark:</span>
                  <span class="text-gray-700"><%=user.landmark%></span>
                </li>
                <li class="flex border-b py-2">
                  <span class="font-bold w-24">Location:</span>
                  <span class="text-gray-700">
                    <%= user.location %>
                  </span>
                </li>
              </ul>
              <div class="flex justify-end mt-4">
                <a href="/logout" class="logbutton right-0 w-24 justify-center items-center">
                  Logout
                </a>
              </div>
            </div>

          </div>
        </div>


        <div class="my-4 h-96 flex-1 ml-1  flex-row 2xl:flex-row space-y-4 2xl:space-y-0 ml-3 ">

          <!-- class=" flex  flex-col scroll-smooth overflow-x-auto w-full h-1/2  items-center rounded  bg-slate-800 rounded-lg drop-shadow-2xl ">
                  <img class="rounded-lg cover" src="/assets/1.jpg" alt="img">
                  <img class="rounded-lg" src="/assets/3.jpg" alt="img">
                  <img class="rounded-lg" src="/assets/2.jpg" alt="img"> -->

                  <div class="slideshow-container h-full w-full">
                    <% for (let index=0; index < user.image.length; index++) { %>
                        <div class="mySlides1 w-full h-full">
                          <img class="object-cover w-full h-full rounded-lg" src="<%= user.image[index].url %>">
                          <button class="delImgBtn" data-id="<%= user.image[index]._id %>" onclick="deleteImage(this)">
                            <i class="fa-solid fa-trash icondel"></i>
                          </button>
                        </div>
                        <% } %>

                            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                </div>

        </div>


      </div>

    </div>
  </section>


  <section class="w-full flex justify-center items-center w-full border-hidden card bg-gray-200" id="myForm">

    <div class="w-11/12 max-w-6xl mt-4 rounded-lg p-4 mb-12 h-full bg-white mx-auto relative">

      <% if (user ) { %>

        <!-- Iterate through user images and display with delete buttons -->
        <div class="userimgcontainer">
          <% for (let index=0; index < user.image.length; index++) { %>
            <div class="iiimg">
              <img class="Userhomeimg" src="<%= user.image[index].url %>">
              <button class="delImgBtn" data-id="<%= user.image[index]._id %>" onclick="deleteImage(this)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <% } %>
        </div>
        <% } else { %>
          <p>User data is not available.</p>
          <% } %>

          <% if (user ) { %>
          <form  action="/dashboard" method="post" enctype="multipart/form-data">

            <div class="form mt-4">

              <div class="mb-3 form_item">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="<%=user.name%>" />
              </div>

              <div class="mb-3 form_item">
                <label for="namehome" class="form-label">House Name</label>
                <input type="text" class="form-control" id="namehome" name="namehome" placeholder="<%=user.namehome%>" />
              </div>

              <div class="form_item">
                <label for="service" class="form-label">Room Type</label>
                <select name="service" aria-placeholder=<%=user.service%> class="form-control" id="service">
                  <option value="" disabled selected>Choose a Room Type</option>
                  <option value="PG">PG</option>
                  <option value="FLAT">Flat</option>
                  <option value="HOSTEL">Hostel</option>
                </select>
              </div>

              <div class="mb-3 form_item">
                <label for="numroom" class="form-label">No. of Room</label>
                <input type="text" class="form-control" id="numroom" name="numroom" placeholder=<%=user.numroom%> >
              </div>


              <div class="mb-3 form_item">
                <label for="forValue" class="form-label"> Available For</label>
                <select name="forValue" class="form-control" id="forValue">
                  <option value="" disabled selected>Choose a </option>
                  <option value="BOY">Boy</option>
                  <option value="GIRL">Girl</option>
                  <option value="FAMILY">Family</option>
                </select>
              </div>

              <div class="mb-3 form_item">
                <label for="current_status" class="form-label">current status</label>
                <select name="current_status" class="form-control" id="current_status">
                  <option value="" disabled selected>Choose Availability </option>
                  <option value="AVAILABLE">Available</option>
                  <option value="UNAVAILABLE">Unavailablel</option>
                </select>
              </div>

              <div class="mb-3 form_item">
                <label for="contact" class="form-label">Contact</label>
                <input type="text" class="form-control" id="contact" name="contact" placeholder=<%=user.contact%> >
              </div>
            </div>


            <div class="mb-3 form_item">
              <label for="highlight" class="form-label">Highlight</label>
              <textarea name="highlight" class="form-control" id="highlight" cols="30" rows="3"
                placeholder="<%= user.status %>"></textarea>
            </div>

            <div class="form">
              <div class="mb-3 form_item">
                <label for="location" class="form-label">Location</label>
                <div class="flex">
                  <input type="text" placeholder="<%= user.location%>" class="form-control" id="location"
                    name="location" />
                  <button type="button" onclick="getLocation()"><i class="fa-solid fa-location-dot ml-2"></i></button>
                </div>
              </div>



              <div class="mb-3 form_item">
                <label for="landmark" class="form-label">Landmark</label>
                <input type="text" class="form-control" id="landmark" name="landmark" placeholder=<%=user.landmark%> eg:playing-Ground>
              </div>


              
            </div>

            <!-- <div class="mb-3 form_item">
                  <label for="contact" class="form-label">number of rooms</label>
                  <input type="num" class="form-control" id="numroom" name="numroom" placeholder="04" />
                </div>
              </div> -->


            <!-- Adding hidden input fields for latitude and longitude -->
            <input type="hidden" id="latitude" name="latitude" />
            <input type="hidden" id="longitude" name="longitude" />


            <div class="flex justify-between flex-wrap">
              <div>
                <label for="exampleInputPassword1" class="form-label">Enter image (Optional)</label>
                <input type="file" id="photo" name="image" /><br /><br />
              </div>

              <div class="flex ">
                <button type="submit" class="button update text-black">Update</button>
                <!-- <p>Not a member? <a href="#">Signup now</a></p> -->
              </div>
          </form>
          <% }%>
    </div>
  </section>

  <!-- Add this JavaScript code to your HTML file -->

  <script src="/js/dash.js" async defer></script>
  <script src="/js/bar.js" async defer></script>
  
</body>

</html>